/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-light-bg text-base-text font-sans antialiased;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-heading text-secondary; /* Use secondary color for headings */
  }
  /* Add other base styles if needed */
}

/* Keep custom animations if still used */
@keyframes scan {
  0% {
    width: 0%;
  }

  50% { 
    width: 100%;
  }

  100% {
    width: 0%;
  }
}
